/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------ */

.debug .main-container {
    height: 1500px;
}

.debug .box {
    max-width: 1172px;
}

.debug .header {
    height: 140px;
    margin: 0 auto;
    margin-top: 22px;
    background: #D782E0;
}

.debug .first-section {
    height: 510px;
    margin: 0 auto;
    margin-top: 28px;
    background: #E0D686;
}
